.card{
    display: flex;
}
h1{
    color:black;
    text-align: center;
}
h2{
    color: rgb(247, 15, 131);
    font-size:30px;
    text-align: center;
}
body{
    background-color: rgb(14, 212, 219);
}
.container{
    justify-content:flex-start;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;

}
.container1{
    justify-content:space-evenly;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;

}
.container2{
    justify-content:flex-end;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;

}
.container3{
    justify-content:center;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;

}
.container4{
    justify-content:space-between;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;

}
.container5{
    justify-content:space-around;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;

}
.container6{
    align-items:flex-start;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 400px;
    border-color:white;

}
.container7{
    align-items:flex-end;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 400px;
    border-color:white;

}
.container8{
    align-items:center;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 400px;
    border-color:white;

}
.container9{
    align-items:baseline;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 400px;
    border-color:white;

}
.container10{
    align-items:stretch;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 400px;
    border-color:white;

}
.container11{
    flex-direction:row;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;

}
.container12{
    flex-direction:row-reverse;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;

}
.container13{
    flex-direction:column;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;

}
.container14{
    flex-direction:column-reverse;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;

}
.container15{
    flex-wrap:wrap;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 400px;
    border-color:white;

}
.container16{
    flex-wrap:wrap-reverse;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 400px;
    border-color:white;

}
.container17{
    flex-wrap:nowrap;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 400px;
    border-color:white;

}
.container18{
    flex-flow: column wrap;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 600px;
    border-color:white;

}
.container19{
    flex-flow: column wrap-reverse;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 600px;
    border-color:white;

}
.container20{
    flex-flow: row wrap;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 600px;
    border-color:white;

}
.container21{
    flex-flow: row wrap-reverse;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 600px;
    border-color:white;

}
.container22{
    flex-flow: row-reverse wrap;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 600px;
    border-color:white;

}
.container23{
    flex-flow: row-reverse wrap-reverse;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 600px;
    border-color:white;

}
.container24{
    flex-flow: column-reverse wrap;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 600px;
    border-color:white;

}
.container25{
    flex-flow: column-reverse wrap-reverse;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    height: 600px;
    border-color:white;

}
.container26{
    flex-wrap: wrap;
    align-content:flex-start;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;
     /* height: 600px; */

}
.container27{
    flex-wrap: wrap;
    align-content:flex-end;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;
     /* height: 600px; */

}
.container28{
    flex-wrap: wrap;
    align-content:center;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;
     /* height: 600px; */

}
.container29{
    flex-wrap: wrap;
    align-content:space-around;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;
    /* height: 600px; */

}
.container30{
    flex-wrap: wrap;
    align-content:space-between;
    background-color: rgb(8, 8, 7);
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid;
    border-color:white;
    /* height: 600px; */

}
.div1{
    background-color:yellow;
    padding: 30px;
    margin: 20px;
    width: 100px;
    height: 100px;
    border: 5px solid;
    border-color: rgb(254, 13, 21);


}